<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Leaderboard | rewardjs</title>

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <style>
        body {
            border-top: 5px solid #8BC657;
            background-color: #F1E6C2;
            color: black;
            padding: 0; margin: 0;
        }
        header { display: block; padding-top: 25px; }
        header a { padding: 0 39px; }
        header a img { border: none; }
        section.body { margin: 0 20px; }
        .body h3 {
            font-family: Georgia,"Times New Roman",Times,serif;
            font-size: 22px;
        }
        .body table {
            width: 640px;
        }
    </style>
  </head>
  <body>
    <header>
      <a title="rewardjs" href="http://rewardjs.com">
        <img alt="rewardjs" src="http://rewardjs.com/wp-uploads/2011/05/rewardjs-header.png"/>
      </a>
    </header>

    <section class="body">
        <h3><?php
            if ($report == 'today') {
                echo "Today's Leaders";
            } else if ($report == 'week') {
                echo "This Week's Leaders";
            } else if ($report == 'all') {
                echo "Month's Leaders";
            } else if ($report == 'lastweek') {
				echo "Last Week";
			} else {
				echo "<p>$date_start - $date_end</p>";
            }
        ?></h3>

        <?php
            if (count($commits) == 0) {
                echo "<p>Bummer! No tickets found for this timeframe!</p>";
            } else {
                echo "<table border='1'><thead><th>Rank</th><th>Committer</th>";
                echo "<th>Bugs closed</th></thead><tbody>";

                foreach ($commits as $i=>$item) {
                    echo "<tr><td>" . ((integer)$i+1) . "</td>";
                    echo "<td><a href='https://github.com/" . $item['author'] . "'>".$item['author']."</a></td>";
                    echo "<td>" . $item['count'] . "</td></tr>";
                }

                echo "</tbody></table>";
            }
        ?>

        <a href="?report=today">Today</a> |
        Yesterday |
        <a href="?report=week">This Week</a> |
        <a href="?report=lastweek">Last Week</a> |
        This Month |
        Last Month |
        <a href="?report=all">All Time</a>
    </section>
  </body>
</html>
